<div class="sidebar">
	<!-- Widget -->
	<div class="widget">
		<button type="submit" class="btn btn-danger" ng-cloak>
            <create-miz-button ng-show="isLoggedIn">Share a new product or service &gt; &gt; </create-miz-button>
            <login-button ng-hide="isLoggedIn">Share a new product or service &gt; &gt;</login-button>
        </button>
	</div>
	<div class="widget">
		<h4>Recent Posts</h4>
		<ul>
			<li><a href="">Sed eu leo orci, condimentum gravida
					metus</a></li>
			<li><a href="">Etiam at nulla ipsum, in rhoncus
					purus</a></li>
			<li><a href="">Fusce vel magna faucibus felis
					dapibus facilisis</a></li>
			<li><a href="">Vivamus scelerisque dui in massa</a></li>
			<li><a href="">Pellentesque eget adipiscing dui
					semper</a></li>
		</ul>
	</div>
	<div class="widget">
		<h4>About</h4>
		<p>
			Nulla facilisi. Sed justo dui, id erat. Morbi auctor
			adipiscing tempor. Phasellus condimentum rutrum aliquet.
			Quisque eu consectetur erat. Proin rutrum, erat eget posuere
			semper, <em>arcu mauris posuere tortor</em>,velit at <a
				href="">magna sollicitudin cursus</a> ac ultrices magna.
			Aliquam consequat, purus vitae auctor ullamcorper, sem velit
			convallis quam, a pharetra justo nunc et mauris.
		</p>
	</div>
</div>