<header>
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-sm-4">

				<!-- Logo starts -->

				<div class="logo">
					<div class="logo-image">
						<!-- Image link -->
						<a href="/"><i class="icon-desktop blue"></i></a>
					</div>
					<div class="logo-text">
						<h1>
							<a href="/">Meek<span class="lightblue">biz</span></a>
						</h1>
						<div class="logo-meta">Services from passionate individuals</div>
					</div>

					<div class="clearfix"></div>
				</div>

				<!-- Logo ends -->

			</div>

			<div class="col-md-9 col-sm-8">

				<!-- Navbar starts -->

				<div class="navi pull-right">
					<div id="ddtopmenubar" class="mattblackmenu">
						<!-- Main navigation -->
						<!-- Use the background color class in anchor tag for colorful menu -->
						<ul>

							<li><a href="/?nav=hot" class="bred"> <i
									class="icon-home"></i> Hot
							</a></li>

							<!-- Main navigation -->
							<li><a href="/?nav=new" rel="ddsubmenu2" class="blightblue"> <i
									class="icon-desktop"></i> New
							</a></li>

							<!-- Main navigation -->
							<li><a href="/?nav=rising" rel="ddsubmenu2" class="bgreen"> <i
									class="icon-tablet"></i> Rising
							</a></li>
							
							<li><a href="/?nav=avoid" class="bviolet"> <i
									class="icon-envelope-alt"></i> Avoid
							</a></li>
							
							<li><a href="/?nav=top" class="borange"> <i
									class="icon-camera"></i> Top
							</a></li>

							


						</ul>
					</div>
				</div>

				<div class="navis"></div>

				<!-- Navbar ends -->

				<div class="clearfix"></div>

			</div>

		</div>
	</div>
	<hr/>
</header>