<nav class="navbar navbar-default" role="navigation" ng-controller="TopNavCtrl">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active"><a href="">Location: Calgary</a></li>
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Find a deal">
			</div>
			<button type="submit" class="btn btn-info">Search</button>
		</form>
		<ul class="nav navbar-nav" ng-hide="!!isLoggedIn" ng-cloak>
			<li><a href="">What is meekbiz?</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right" ng-switch="!!isLoggedIn" ng-cloak>
            <li ng-switch-when="false"><a href=""><register-button>Join Now</register-button></a></li>
            <li ng-switch-when="true"><a href="" ng-click="logout()">Sign out</a></li>
            <li ng-switch-when="false"><a href=""><login-button>Sign In</login-button></a></li>
            <li ng-switch-when="true"><a href=" @view.controllers.routes.ProfileController.privateProfile().url ">My Profile</a></li>
			<li class="dropdown"><a href="" class="dropdown-toggle"
				data-toggle="dropdown">Directory <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="">Action</a></li>
					<li><a href="">Another action</a></li>
					<li><a href="">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="">Separated link</a></li>
				</ul></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>